.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &__line {
    width: 30px;
    height: 1px;
    background-color: #e5e5e5;
  }
}
