.toolbar {
  position: absolute;
  width: 346px;
  border-radius: 5px;

  &__nav {
    height: 48px;
    text-align: center;
    background-color: #2e374b;
  }

  &__title {
    color: #1df737;
  }

  &__menu {
    display: none;
    height: 400px;
    background-color: #8d8d8d;
  }

  &__footer {
    height: 48px;
    background-color: #2e374b;
  }
}
