.toolbar {
  position: absolute;
  width: 346px;
  border-radius: 5px;

  &__nav {
    background-color: #2e374b;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    height: 48px;
    text-align: center;
  }

  &__title {
    color: #1df737;
  }

  &__menu {
    background-color: #3c4457;
    height: 400px;
    display: none;
    opacity: 0;
  }

  &__menu--open {
    display: block;
    opacity: 1;
  }

  &__footer {
    height: 48px;
    background-color: #2e374b;
  }
}
